{% extends 'base.html' %}
{% block contenido %}
<div class="container pt-5" style="width: 50%">
<div class="card text-center" >
    <div class="card-header">
      Sistema de Elecciones
    </div>
    <!--<img src="..." class="card-img-top" alt="...">-->    
    <div class="card-body">
      <h3 class="card-title my-4">ELECCIONES</h3>    
      <form action="{% url 'login' %}" method="POST"> 
        {% csrf_token %} 
        <div class="form-group my-4">          
          <input type="text" id="txtCedula" name="txtCedula" class="form-control" placeholder="Ingrese con su cédula" maxlength="10" required />
          <p style="color: red">{{mensaje}} </p>
        </div>
        <button type="submit" class="btn btn-success btn-block text-white my-4">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
  <h3>Historial de Votos</h3>
    <div class="card" style="width: 50rem;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID Voto</th>
            <th scope="col">Cedula del votante</th>
            <th scope="col">Candidato Elegido</th>
          </tr>
        </thead>
          <tbody> 
            {% for voto in votos %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                  <td>{{voto.id}}</td>
                  <td>{{voto.cedula_votante.cedula}}</td>
                  <td>{{voto.nombre_candidato.nombre}}</td>                                               
              </tr>
            {% endfor %}
          </tbody>
      </table>            
    </div>        
{% endblock contenido %}